Source: supervisor-daemon
Section: utils
Priority: optional
Maintainer: Vasily i. Redkin <vir@ctm.ru>
Build-Depends: build-essential, debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://github.com/vir/supervisor

Package: supervisor-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Starts and restarts several "daemon" scripts with stdout and stderr redirected into log files with timestamps added.

Package: supervisor-daemon-dbg
Section: devel
Architecture: any
Depends: supervisor (= ${Source-Version})
Recommends: gdb
Description: Debug symbols for the supervisor

